body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

#myH1
{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: rgb(43, 42, 42);
}

#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display
{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.774);
    margin-bottom: 25px;
}



#startBtn, #resetBtn, #stopBtn, #splitBtn {
  appearance: button;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 5px 10px 0;
  overflow: visible;
  padding: 10px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#startBtn
{
    background-color: green;
}

#stopBtn
{
    background-color: red;
}
#resetBtn
{
    background-color: black;
}

#splitBtn
{
    background-color: rgb(123, 192, 215);
}

#startBtn:focus, #resetBtn:focus, #stopBtn:focus, #splitBtn:focus {
  text-decoration: none;
}

#startBtn:hover, #resetBtn:hover, #stopBtn:hover {
  text-decoration: none;
}

#startBtn:active , #resetBtn:active , #stopBtn:active, #splitBtn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

#startBtn:not([disabled]):active, #resetBtn:not([disabled]):active, #stopBtn:not([disabled]):active, #splitBtn#stopBtn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    #startBtn, #resetBtn, #stopBtn, #splitBtn {
    padding: 12px 50px;
  }
}